.detailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.combine{
    display: flex;
    border: 1px solid rgb(231, 229, 229);
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image{
 width: 400px;
 height: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 border-right: 1px solid rgb(231, 229, 229);
}
.image img{
    max-width: 100%;
    max-height: 100%;
}

.detail{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.detail p {
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(231, 229, 229);
    font-weight: 300;
}

.keyText{
    font-size: larger;
    font-weight: bold;
}

.bar{
    height: 100px;
    width: 15px;
    background-color: black;
}

@media only screen and (max-width:850px) {
    .detailsContainer {
        flex-direction: column;
    }
    .combine{
        flex-direction: column;
    }

    .image{
        border-right: none;
        border-bottom: 1px solid rgb(231, 229, 229);
    }
}

@media only screen and (max-width:450px) {
    .detailsContainer{
        margin: 2px;
    }
    .combine{
        margin: 2px 0;
        box-shadow: none;
    }
    .image{
        width: 350px;
        height: 350px;
    }
    .detail{
        width: 350px;
        height: 350px;
    }
}
