.navigationBar{
    display: flex;
    height: 70px;
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgb(231, 229, 229);
    background-color: white;
}

@media only screen and (max-width: 768px) {
   .pokeBall{
    display: none;
    }
    .navigationBar{
        justify-content: center;
    }
}